// This file will be used in every page in the site!
// Imports -------------------------------------------------------------------//
@use 'typography' as *;
@use '../abstracts' as *;
@use '../vendor/sass-flexbox/main.scss' as flex;

// Styling -------------------------------------------------------------------//
body {
	display: flex;
	flex-direction: column;
	background-color: $bgc;
	min-height: 100vh;
}

main {
	display: flex;
	flex-grow: 1;
	// Footer on bottom
	flex-direction: column;
}

.main-wrapper {
	@include container;
	margin: 0 auto;
	padding: $main-wrapper-padding  0;

	@include xs-down { width: 100%; }
}

ul { margin: 0; }

.container { @include container; }
.no-results { @include no-results; }
.vertical-align { @include v-align; }
.page-title { padding: 1rem; }
.noselect { user-select: none; }
.p-0 { padding: 0 !important; }
