// This file will be used in every page in the site!
// Imports -------------------------------------------------------------------//
@use 'typography' as *;
@use '../abstracts' as *;
@use '../vendor/sass-flexbox/main.scss' as flex;

// Styling -------------------------------------------------------------------//
body {
	display: flex;
	flex-direction: column;
	background-color: $bgc;
	min-height: 100vh;
}

// Footer on bottom
main { flex-grow: 1; }

.main__wrapper {
	@include container;
	margin: 0 auto;
	padding: (flex.$gutter * 2)  0;

	@include xs-down { width: 100%; }
}

ul { margin: 0; }

.container { @include container; }

.josefin-descender-ignore {
	display: inline-block;
	transform: translateY(7.5%);
}

.vertical-align { @include v-align; }
.page-title { padding: 1rem; }
.noselect { user-select: none; }
.p-0 { padding: 0 !important; }
