// Roboto
@use '../vendor/materialize/materialize' as M;
@use '../abstracts' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body { font-family: Roboto, sans-serif; }

p {
	letter-spacing: 0.25px;
	line-height: 1.75;
}

.section-header {
	@extend .h2;

	display: inline-block;
	margin: 4rem 0 2rem;
	padding: 0.5rem 4rem 0.5rem 1rem;

	color: M.$on-primary;
	background-color: M.$primary-color;
}

// Font-faces --------------------------------------------------------------- //
// XXX: remove if not used
// @font-face {
// 	font-family: antoniobold;
// 	src:
// 		url('../fonts/antonio-bold-webfont.woff2') format('woff2'),
// 		url('../fonts/antonio-bold-webfont.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: antoniolight;
// 	src:
// 		url('../fonts/antonio-light-webfont.woff2') format('woff2'),
// 		url('../fonts/antonio-light-webfont.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: antonioregular;
// 	src:
// 		url('../fonts/antonio-regular-webfont.woff2') format('woff2'),
// 		url('../fonts/antonio-regular-webfont.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }
