body {
	padding: 0;
	margin: 0;

	/* Fondo oscuro para cuidar la vista :) */
	color: #f8f9fa;
	background-color: #212529;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
	padding: 1rem;
	margin: 0;

	font-size: 5rem;
	font-weight: lighter;
	line-height: .75;
}
