// Add and import mixins to be available in every files that use "abstracts".
@use 'media' as media;
@use '../../vendor/materialize/materialize' as M;

@mixin price-tag {
	width: fit-content;
	padding: 0.25rem;
	padding-right: 1rem;

	font-weight: 500;
	color: white;
	background-color: M.$primary-color;
}

@mixin product-bg {
	border-radius: 0.25rem;
	background: M.color('indigo', 'lighten-5');
}

@mixin container {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;

	@include media.md-up { width: 85%; }
	@include media.lg-up { width: 70%; }
}

// TODO: Add this to template
@mixin v-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

// Padding / Margin --------------------------------------------------------- //
@mixin reset-pm($size) {
	padding: 0;
	margin: 0;
}

// Margins -------------------------- //
@mixin mx($size) {
	margin-left: $size;
	margin-right: $size;
}

@mixin my($size) {
	margin-top: $size;
	margin-bottom: $size;
}

@mixin mx-auto {
	margin-left: auto;
	margin-right: auto;
}

@mixin my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

// Paddings ------------------------- //
@mixin px($size) {
	padding-left: $size;
	padding-right: $size;
}

@mixin py($size) {
	padding-top: $size;
	padding-bottom: $size;
}

@mixin px-auto {
	padding-left: auto;
	padding-right: auto;
}

@mixin py-auto {
	padding-top: auto;
	padding-bottom: auto;
}
