@use '../vendor/materialize/materialize' as M;
@use '../vendor/sass-flexbox/main' as flex;
@use '../abstracts' as *;
@use 'sass:color';
@use 'sass:math';

.cart {
	// Summary --------------------------------------------------------------- //
	&__summary {
		@include raised-bg;

		display: flex;
		flex-direction: column;
		width: fit-content;
		padding: flex.$gutter;
		margin-left: auto;
	}

	&__summary-payments {
		max-width: 6.5rem;

		input {
			text-align: right;
			margin-bottom: 0;
		}

		label, svg {
			right: 0;
			left: initial;
		}

		svg {
			left: 0;
			right: initial;
			transform: translateX(-25%);
		}
	}

	&__summary-details {
		display: flex;
		width: fit-content;
		justify-content: right;
	}

	&__summary-values {
		min-width: 15rem;

		&-li {
			display: flex;
			justify-content: space-between;
			font-weight: 500;
		}

		&-li:last-child {
			// padding-top: 1rem;
			border-top: solid 1px M.color('grey', 'base');
			font-size: 1.5rem;
			font-weight: 500;
		}
	}

	// MEDIA ---------------------------------------------------------------- //
	@include md-up {
		&__summary-payments { max-width: 5.5rem; }
	}

	@include sm-up {
		&__summary { flex-direction: row; }

		&__summary-payments {
			margin: flex.$gutter;
			margin-right: flex.$gutter * 2;
		}
	}

	@include xl-up { width: 65%; }
	@include xs-down { width: 100vw; }
}

.cart-list {
	@include raised-bg;

	padding: (flex.$gutter);
	margin: (flex.$gutter) auto;

	border-radius: $br;

	@include md-up { padding: (flex.$gutter * 2); }
	@include xs-down { @include px(0); }
}

.cart-item {
	flex-wrap: nowrap;
	padding: flex.$gutter 0;
	border-bottom: solid 1px M.color('grey', 'lighten-3');
	color: M.$secondary;

	// Image ------------------------ //
	&__image {
		@include product-bg;

		$height: 7.5rem;
		$width: $height;

		display: flex;
		justify-content: center;
		align-items: center;

		height: $height;
		min-width: $width;

		overflow: hidden;

		img {
			@extend .materialboxed;

			max-width: $width;
			max-height: $height;
		}
	}

	// Details -------------------------------------------------------------- //
	&__details {
		padding-left: flex.$gutter;

		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		flex-grow: 1;
		overflow: hidden;
	}

	// Details Left ----------------- //
	&__details-left {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		justify-content: space-evenly;
		overflow: hidden;
	}

	&__title {
		color: M.$on-secondary-container;
		font-weight: 600;
	}

	&__price { @include price-tag; }

	// Details right ----------------- //
	&__details-right {
		display: flex;
		min-width: fit-content;
		justify-content: space-between;
		align-items: center;
	}

	&__details-numbers {
		display: flex;
		flex-direction: column;

		font-size: 1.5rem;
	}

	// Pseudo ---------------------- //
	&:last-child { border: none; }

	// Media ---------------------------------------------------------------- //
	@include sm-up {
		&__details { flex-direction: row; }

		&__title { @include M.truncate; }

		&__description {
			@include v-clamp(2);
			@include my(flex.$gutter * 0.5);
		}

		&__details-numbers { @include mx(2rem); }
		&__details-numbers > * { @include my(0.25rem); }
	}

	@include sm-down {
		&__details-left { @include v-clamp(2); }
	}

	@include xs-down {
		&__details { padding: 0; }
	}
}
