@use '../vendor/materialize/materialize' as M;
@use '../vendor/sass-flexbox/main' as flex;
@use '../abstracts' as *;

.contact-form {
	@include raised-bg;

	display: grid;
	width: 100%;
	margin: auto;
	padding: flex.$gutter;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 2rem;

	border-radius: $br;

	textarea {
		max-height: 4.25rem;
		overflow: auto;
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;

		button { margin-left: flex.$gutter; }
	}


	// Fix autocomplete bg!
	input {
		&:-webkit-autofill, &:-webkit-autofill:hover,
		&:-webkit-autofill:focus, &:-webkit-autofill:active {
			transition: background-color 0s 50000s;
		}
	}

	// Fix autocomplete not working on 1st click!
	label { pointer-events: none; }
}

.range-minmax {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__number:first-child { margin-right: 1rem !important; }
	&__number:last-child { margin-left: 1rem !important; }
}

.product-qty {
	$color: M.$primary-color;
	$fs: 1.25rem;

	display: flex;
	align-items: center;

	&__input[type='number']:not(.browser-default) {
		margin: 0;
		width: $fs * 2;
		height: $fs * 1.75;

		font-weight: 500;
		font-size: $fs;
		text-align: center;

		color: $color;
		appearance: textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			appearance: none;
		}
	}

	&__increase,
	&__decrease {
		@include px(0.25rem);

		line-height: 0;
		color: $color;
		cursor: pointer;
	}
}
