@use '../abstracts' as *;
@use '../vendor/materialize/materialize.scss' as M;

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	width: 100%;
	height: 560px;
	max-height: 80vh;

	overflow: hidden;

	&__background {
		@include size(100%);

		z-index: -3;
		background-color: #323259;

		&-img {
			width: 1920px;
			height: 560px;
			overflow: visible;

			background-image: url('../img/hero-bg.svg');
			background-attachment: fixed;
			background-repeat: repeat;
		}
	}

	&__svg-container {
		width: 25rem;
		min-width: 20%;
		max-width: 80%;

		position: absolute;
		z-index: -1;

		color: white;

		#svg-logo {
			opacity: 0;
		}
	}

	// Images ------------------------------------------------------------------------- //
	[class^='hero__img'] {
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 1rem;
		z-index: -2;

		width: 30rem;
		height: 100%;
		max-width: 20%;

		img { max-height: 100%; }
	}

	&__img--left { left: 0; }
	&__img--right { right: 0; }
}

#hero__img--pc-image { height: 30rem; }
