@use '../vendor/materialize/materialize' as M;
@use '../vendor/sass-flexbox/main' as flex;
@use '../abstracts' as *;

.products-layout {
	display: flex;
	flex-direction: column;

	@include md-up { flex-direction: row; }
}

.product-filters {
	[class^='product-filters__filter--'] {
		margin-bottom: flex.$gutter;
		width: 100%;

		@include md-up { width: 16rem; }
	}

	&__filter--menu &__menu-item {
		padding: 0;

		a {
			display: inline-block;
			width: 100%;
			padding: 10px 20px;
			color: inherit;

			&:hover { background-color: rgba(0 0 0 / 5%); }
		}
	}
}

.product-list {
	@include mx-auto;

	width: 100%;
	max-width: 48rem;

	@include md-up { @include mx(0); }
}

.product-li {
	display: flex;
	margin-bottom: flex.$gutter * 2;

	// LEFT ------------------------- //
	&__image {
		@include product-bg;

		display: flex;
		justify-content: center;
		align-items: center;

		img {
			@extend .materialboxed;

			width: 100%;
			min-height: 12rem;
			max-height: 16rem;

			@include sm-up { min-height: auto; }
		}
	}

	// RIGHT ------------------------ //
	&__details {
		display: flex;
		flex-direction: column;
	}

	&__title, &__description, &__footer {
		padding: flex.$gutter;
		margin: 0;
	}

	&__title { @extend .h5; }

	// Footer ----------------------- //
	&__footer {
		display: flex;
		justify-content: space-between;
		margin-top: auto;
	}

	&__price {
		@include price-tag;

		margin: auto 0;
		line-height: 1;
	}

	@include sm-down {
		@include mx-auto;
		max-width: 24rem;

		&__details { @include my(flex.$gutter); }
		&__title, &__description, &__footer { @include px(0); }
	}
}
