@use '../vendor/materialize/materialize' as M;
@use '../vendor/sass-flexbox/main' as flex;
@use '../abstracts' as *;

.products-layout {
	display: flex;
	flex-direction: column;

	@include md-up { flex-direction: row; }
}

.product-filters {
	[class^='product-filters__filter--'] {
		height: fit-content;
		width: 100%;
		margin-bottom: flex.$gutter;

		.collapsible-header { font-weight: 500; }

		@include md-up { width: 16rem; }
		@include md-down { margin: 0 1rem; }
		@include sm-down { margin: 1rem 0; }
	}

	&__filter--menu &__menu-item {
		padding: 0;

		a {
			display: inline-block;
			width: 100%;
			padding: 10px 20px;
			color: inherit;

			&:hover { background-color: rgba(0 0 0 / 5%); }
		}
	}

	&__filter--price &__range-item {
		padding: 10px 20px;

		.slider { margin: 10px 0; }
	}

	@include md-down { display: flex; }
	@include sm-down { flex-direction: column; }
}

.product-list {
	@include mx-auto;

	width: 100%;
	max-width: 48rem;

	@include md-up { @include mx(0); }
}

.product-li {
	display: flex;
	margin-bottom: flex.$gutter * 2;

	// LEFT ------------------------- //
	// ?FIXME: materiaboxed is always 100%
	&__image {
		@include product-bg;

		display: flex;
		justify-content: center;
		align-items: center;

		img {
			@extend .materialboxed;

			width: 100%;
			max-height: 16rem;

			@include sm-up { min-height: auto; }
		}
	}

	// RIGHT ------------------------ //
	&__details {
		display: flex;
		flex-direction: column;
	}

	&__title, &__description, &__footer {
		padding: flex.$gutter;
		margin: 0;
	}

	&__title { @extend .h5; }


	&__description-text, &__title-text {
		@include v-clamp(3);
	}

	&__title-text { -webkit-line-clamp: 2; }

	// Footer ----------------------- //
	&__footer {
		display: flex;
		justify-content: space-between;
		margin-top: auto;
	}

	&__price {
		@include price-tag;
		margin: auto 0;
		font-size: 1.25rem;
		line-height: 1;
	}

	@include sm-up {
		.product-qty {
			margin-left: auto;
			margin-right: flex.$gutter * 2;
		}
	}

	@include sm-down {
		@include mx-auto;
		max-width: 24rem;

		&__details { @include my(flex.$gutter); }
		&__title, &__description, &__footer { @include px(0); }
	}
}
