// Generic project's variables file.
// Add and import variables that should be available
// in every SCSS files that import "abstracts".

// Imports
@use 'colors' as *;
@forward 'colors';

// Colors ------------------------------------------------------------------- //
// Good contrast against secondary.
$primary-color: black;
// Good contrast against primary.
$secondary-color: yellow;
// Color usually used for accents like links.
$terciary-color: blue;

// Color used for the page's bg, ie. the <body> tag.
$background-color: black;
// Color used for things like text, svg, etc.
$foreground-color: white;


// Shortforms
$primary: $primary-color;
$secondary: $secondary-color;
$terciary: $terciary-color;

$background: $background-color;
$foreground: $foreground-color;

$bg: $background-color;
$fg: $foreground-color;

// Breakpoints -------------------------------------------------------------- //
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
